html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $cuaternario;
}

#root {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: $fuente_principal;
}

p,
button,
a {
  line-height: 20px;
  letter-spacing: 0.45px;
}

li {
  list-style: none;
}

a {
  color: $secundario;
  text-decoration: none;
}

.btn1 {
  border: none;
  background: $principal;
  color: $blanco;
  border-radius: 0.5rem;
  font-family: $fuente_secundaria;
  font-weight: normal;
  width: 15rem;
  height: 4rem;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    border: 1px solid $principal;
    color: $principal;
    font-weight: bold;
  }
  @include tablet {
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
  }
}

.title{
  color: $secundario;
  text-align: center;
  font-size: 3rem;
  font-family: $fuente_secundaria;
  font-weight: 700;
  width: 70rem;
}

.subtitle{
  color: $principal;
  font-family: $fuente_secundaria;
  font-weight: 700;
  font-size: 1.4rem;
}