@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

//Fuentes
$fuente_principal: 'Glory', sans-serif;
$fuente_secundaria: 'Manrope', sans-serif;

//Tamaños Media Queries

$telefono: 48rem;
$tablet: 65rem;
$desktop:102.4rem;

//Colores

$principal: #B95782;
$secundario: #102A4B;
$terciario: #E8CED5;
$cuaternario: #E3F8F8;
$gris: #46433e;
$blanco: #ffffff;
$negro: #000000;
$success: #85f066;
$warning: #f5d36c;
$error: #f56c6c;