.afectados-section {
  align-items: center;
  @include tablet{
    width: 100%;
  }
  .text-section {
    height: fit-content;
    .title {
      text-align: start;
      margin: 0;
    }
    .title,
    p {
      width: 50rem;
      @include tablet{
        width: 100%;
      }
    }
  }
  .decoration-section {
    justify-content: end;
    align-items: end;
    .circle {
      top: 0%;
      left: 35%;
    }
    img {
      width: 50rem;
      height: 45rem;
      margin-right: 4rem;
      border-radius: 2rem;
      @include tablet{
        width: 100%;
        height: auto;
        margin-right: 0;
      }
    }
  }
}
