.header {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 5rem 0 5rem 5rem;
  position: relative;
  overflow: hidden;
  @include tablet {
    flex-direction: column;
    height: 100%;
    padding: 3rem;
    gap: 2rem;
  }
  .text-section {
    width: 50%;
    color: $secundario;
    display: grid;
    gap: 1.2rem;
    @include tablet {
      width: 100%;
      gap: .5rem;
    }
    h1 {
      font-size: 6rem;
      font-weight: 700;
      margin: 0;
      @include tablet {
        font-size: 3rem;
        width: 25rem;
      }
    }
    p {
      font-family: $fuente_secundaria;
      font-size: 1.4rem;
      margin: 0;
      @include tablet {
        font-size: 1.2rem;
      }
    }
    img {
      width: 40rem;
      transition: all 1s;
      @include tablet {
        width: 18rem;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .hidden {
      opacity: 0;
      transform: translateX(-100%) rotate(80deg);
        @include tablet{
            transform: translateY(40%) translateX(-50%) rotate(80deg);
        }
    }
    .visible {
      transform: translateY(-30%) translateX(40%) rotate(80deg);
      opacity: 1;
      @include tablet {
        transform: translateY(-10%) translateX(75%) rotate(80deg);
        z-index: -4;
      }
    }
  }
  .decoration-section {
    width: 50%;
    display: inline-flex;
    justify-content: center;
    @include tablet{
        width: 100%;
    }
    .circle {
      background-color: $principal;
      width: 130rem;
      height: 130rem;
      border-radius: 130rem;
      position: absolute;
      top: 20%;
      left: 40%;
      z-index: -10;
    }
  }
  &.aprendamos-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 4rem;
    @include tablet{
        display: flex;
        flex-direction: column-reverse;
    }
    img {
      width: 50rem;
      @include tablet{
        width: 100%;
      }
    }
    .text-section {
      height: fit-content;
      width: fit-content;
      padding: 2rem;
      color: $secundario;
      .title {
        text-align: start;
        font-size: 5rem;
        margin: 0;
        width: 55rem;
        @include tablet{
            width: 100%;
            font-size: 2rem;
        }
      }
    }
  }
}
