.header{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 5rem 0 5rem 5rem;
    position:relative;
    overflow: hidden;
    .text-section{
        width: 50%;
        color: $secundario;
        display: grid;
        gap: 1.2rem;
        h1{
            font-size: 6rem;
            font-weight: 700;
            margin: 0;
        }
        p{
            font-family: $fuente_secundaria;
            font-size: 1.4rem;
            margin: 0;
        }
        img{
            width: 40rem;
            transition: all 1s;
        }
        .hidden{
            opacity: 0;
            transform: translateX(-100%) rotate(80deg);
        }
        .visible{
            transform: translateY(-30%) translateX(40%) rotate(80deg);
            opacity: 1;
        }
    }
    .decoration-section{
        width: 50%;
        display: inline-flex;
        justify-content: center;
        .circle{
            background-color: $principal;
            width: 130rem;
            height: 130rem;
            border-radius: 130rem;
            position: absolute;
            top: 20%;
            left: 40%;
            z-index: -10;
        }
    }
}