.juegosSelector-section {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 2rem;
    justify-items: center;
    .investigacion-card {
      width: 25rem;
      align-items: center;
      gap: 1rem;
      &.uno {
        grid-area: 1 / 1 / 7 / 3;
      }
      &.dos {
        grid-area: 1 / 3 / 4 / 5;
      }
      &.tres {
        grid-area: 4 / 3 / 7 / 5;
      }
      &.cuatro {
        grid-area: 1 / 5 / 4 / 7;
      }
      &.cinco {
        grid-area: 4 / 5 / 7 / 7;
      }
      .title-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        h2 {
          font-size: 2rem;
          text-align: start;
          width: auto;
          margin: 0;
        }
      }
      .subtitle {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
