.nostros-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 4rem;
  .text-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2 {
      width: 100%;
      text-align: start;
      margin: 0;
      margin-bottom: 1rem;
      font-family: $fuente_principal;
      font-size: 5rem;
    }
    p {
      font-family: $fuente_secundaria;
      font-size: 1.3rem;
      margin: 0;
    }
  }
  .contenedor-alumnos {
    height: 100%;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    .alumno{
        img{
            width: 8rem;
            height: 8rem;
        }
    }
  }
}
