.rosco-section{
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 2rem;
    @include tablet{
        gap: 1rem;
    }
    .letras-container{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 3rem;
        @include tablet{
            grid-template-columns: repeat(5, 1fr);
            gap: 1rem;
        }
        .letra{
            border: solid 1px $principal;
            color: $principal;
            padding: 2rem;
            border-radius: 4rem;
            text-align: center;
            font-family: $fuente_secundaria;
            font-size: 1.4rem;
            @include tablet{
                padding: 1rem;
            }
            &.seleccionada{
                background-color: $principal;
                color: $blanco;
            }
            &.correcto{
                background-color: $success;
                border: none;
                color: $negro;
            }
            &.incorrecto{
                background-color: $error;
                border: none;
                color: $negro;
            }
        }
    }
    .btn-container{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3rem;
        @include tablet{
            flex-direction: column;
            gap: 1rem;
        }
    }
    .respuestas{
        display: grid;
        gap: 3rem;
        justify-items: center;
        .input{
            display: grid;
            justify-items: center;
            label{
                font-family: $fuente_principal;
                font-size: 1.6rem;
                @include tablet{
                    font-size: 1.3rem;
                }
            }
            input{
                background-color: $cuaternario;
                border: 1px solid $principal;
                padding: 1rem;
                border-radius: 1rem;
                outline: none;
            }
        }
    }
    .title{
        font-size: 1.5rem;
        @include tablet{
            font-size: 1.2rem;
            padding: 1rem;
        }
    }
}