.trivia-section {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;
  .pregunta-container {
    background-color: $principal;
    padding: 4rem;
    color: $blanco;
    display: grid;
    justify-items: center;
    gap: 2rem;
    box-shadow: 0px 10px 20px 0px rgba(18, 18, 18, 0.3);
    border-radius: 2rem;
    .opciones {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      h2 {
        padding: 1.5rem;
        cursor: pointer;
        border-radius: 4rem;
        border: 1px solid $secundario;
        &.seleccionada{
            background-color: $secundario;
        }
        &:hover{
            background-color: $secundario;
        }
      }
    }
  }
}